# This is Gold Challenge Scratch Pad

Hello,  
This is the scratch pad for Binar Data Science Scratch Pad.

In [73]:
import pandas as pd

fileUpload = "data.csv"
data = pd.read_csv(fileUpload, encoding='latin-1')
dataType = data.dtypes
dataType

Tweet            object
HS                int64
Abusive           int64
HS_Individual     int64
HS_Group          int64
HS_Religion       int64
HS_Race           int64
HS_Physical       int64
HS_Gender         int64
HS_Other          int64
HS_Weak           int64
HS_Moderate       int64
HS_Strong         int64
dtype: object

#### <u> Percobaan untuk menghitung jumlah kolom yang perlu dilakukan cleaning </u>

In [75]:
def cleanableCount(fileData):
    dataType = fileData.dtypes.to_list()
    typeCount = 0
    for type in dataType:
        if type == "object":
            typeCount += 1
    return typeCount

cleanableCount(data)

1

In [4]:
print(data.columns.to_list())

['Tweet', 'HS', 'Abusive', 'HS_Individual', 'HS_Group', 'HS_Religion', 'HS_Race', 'HS_Physical', 'HS_Gender', 'HS_Other', 'HS_Weak', 'HS_Moderate', 'HS_Strong']

#### <u> Percobaan untuk locate column yang perlu dilakukan cleaning </u>

In [5]:
def colIndexLocate(fileData):
    column_list = fileData.columns.to_list()
    datatype_list = []

    for type in dataType:
       datatype_list.append(type)
    
    return column_list, datatype_list

colIndexLocate(data)

(['Tweet',
  'HS',
  'Abusive',
  'HS_Individual',
  'HS_Group',
  'HS_Religion',
  'HS_Race',
  'HS_Physical',
  'HS_Gender',
  'HS_Other',
  'HS_Weak',
  'HS_Moderate',
  'HS_Strong'],
 [dtype('O'),
  dtype('int64'),
  dtype('int64'),
  dtype('int64'),
  dtype('int64'),
  dtype('int64'),
  dtype('int64'),
  dtype('int64'),
  dtype('int64'),
  dtype('int64'),
  dtype('int64'),
  dtype('int64'),
  dtype('int64')])

#### <u> Percobaan untuk membuat database dengan sqlite3 </u>

In [89]:
import sqlite3

conn = sqlite3.connect('cleanTw.db')
print("Opened database successfully")

Opened database successfully

In [ ]:
import re
i= 0
df_type = data.dtypes.to_list()
df_columns = data.columns.to_list()

def file_data_cleaning():
    for i in range(len(df_type)):
        if df_type[i] == "object":
            tobecleaned = data[df_columns[i]]
            cleanedTweet = tobecleaned.replace(r'[^0-9A-Za-z]',' ',regex=True).astype('str')
            cleanTwList = cleanedTweet.to_list()
            cleanTwList = [x.strip(' ') for x in cleanTwList] #menghilangkan spasi yang tidak penting
            cleanTwList = [re.sub(r'\s+',' ',x) for x in cleanTwList] #menghilangkan spasi yang berlebihan
            i += 1
        else:
            pass
    return cleanTwList

cleanTweet = file_data_cleaning()
print(cleanTweet)

In [ ]:
data_clean = data
data_clean

In [92]:
data_clean['Tweet'] = cleanTweet

In [93]:
    from sqlalchemy import create_engine
engine = create_engine('sqlite:///cleanTw.db', echo=False)

data_clean.to_sql('clean_tweet',con=engine, if_exists='append')

13169

In [98]:
con = sqlite3.connect("cleanTw.db")
clnTwSQLite = pd.read_sql_query("SELECT * from clean_tweet",con, index_col=['index'])

In [99]:
print(clnTwSQLite)

                                                   Tweet  HS  Abusive  \
index
0      disaat semua cowok berusaha melacak perhatian ...   1        1
1      RT USER USER siapa yang telat ngasih tau elu e...   0        1
2      41 Kadang aku berfikir kenapa aku tetap percay...   0        0
3      USER USER AKU ITU AKU n nKU TAU MATAMU SIPIT T...   0        0
4      USER USER Kaum cebong kapir udah keliatan dong...   1        1
...                                                  ...  ..      ...
13164  USER jangan asal ngomong ndasmu congor lu yg s...   1        1
13165                        USER Kasur mana enak kunyuk   0        1
13166  USER Hati hati bisu g n nlagi bosan huft xf0 x...   0        0
13167  USER USER USER USER Bom yang real mudah terdet...   0        0
13168  USER Mana situ ngasih itu cuma foto ya kutil onta   1        1

       HS_Individual  HS_Group  HS_Religion  HS_Race  HS_Physical  HS_Gender  \
index
0                  1         0            0        0            0          0
1                  0         0            0        0            0          0
2                  0         0            0        0            0          0
3                  0         0            0        0            0          0
4                  0         1            1        0            0          0
...              ...       ...          ...      ...          ...        ...
13164              1         0            0        0            1          0
13165              0         0            0        0            0          0
13166              0         0            0        0            0          0
13167              0         0            0        0            0          0
13168              1         0            0        0            0          0

       HS_Other  HS_Weak  HS_Moderate  HS_Strong
index
0             1        1            0          0
1             0        0            0          0
2             0        0            0          0
3             0        0            0          0
4             0        0            1          0
...         ...      ...          ...        ...
13164         0        1            0          0
13165         0        0            0          0
13166         0        0            0          0
13167         0        0            0          0
13168         1        1            0          0

[13169 rows x 13 columns]

In [109]:
clnTwSQLite.loc[13164:13165]

,Tweet,HS,Abusive,HS_Individual,HS_Group,HS_Religion,HS_Race,HS_Physical,HS_Gender,HS_Other,HS_Weak,HS_Moderate,HS_Strong
index,,,,,,,,,,,,,
13164,USER jangan asal ngomong ndasmu congor lu yg s...,1,1,1,0,0,0,1,0,0,1,0,0
13165,USER Kasur mana enak kunyuk,0,1,0,0,0,0,0,0,0,0,0,0

## Double checking untuk data cleaning yang sudah dilakukan

In [ ]:
import pandas as pd
import sqlite3
from sqlite3 import connect

conn = sqlite3.connect("postprocessed_tweet.db")
data = pd.read_sql("SELECT * from tweet_post", conn)

clean_df = pd.DataFrame(data)
clean_df.head(5)

In [ ]:
import pandas as pd

fileUpload = "data.csv"
data_csv = pd.read_csv(fileUpload, encoding='latin-1')
data_csv.head()

In [ ]:
import re
tobecleaned = data_csv['Tweet']
cleanedTweet = tobecleaned.replace(r'(\\x\S+)','',regex=True).astype('str')
cleanedTweet = cleanedTweet.replace(r'((\s{2}))',' ',regex=True).astype('str')
cleanedTweet = cleanedTweet.replace(r'(\\n)',' ',regex=True).astype('str')
cleanedTweet = cleanedTweet.replace(r'(?:RT\W+)',' ',regex=True).astype('str')
cleanedTweet = cleanedTweet.replace(r'(?:USER\W+)',' ',regex=True).astype('str')
cleanedTweet = cleanedTweet.replace(r'(?:USER)',' ',regex=True).astype('str')
cleanedTweet = cleanedTweet.replace(r'(?:https:)\S+',' ',regex=True).astype('str')
cleanedTweet = cleanedTweet.replace(r'(?:http)\S+',' ',regex=True).astype('str')
cleanedTweet = cleanedTweet.replace(r'(?:https)\S+',' ',regex=True).astype('str')
cleanedTweet = cleanedTweet.replace(r'(?:URL)',' ',regex=True).astype('str')
cleanedTweet = cleanedTweet.replace(r'[^0-9A-Za-z]',' ',regex=True).astype('str')
cleanTwList = cleanedTweet.to_list()
cleanTwList = [x.strip(' ') for x in cleanTwList] #menghilangkan spasi yang tidak penting
cleanTwList = [re.sub(r'\s+',' ',x) for x in cleanTwList] #menghilangkan spasi yang berlebihan

print(cleanTwList)

In [303]:
cleaned_csv = pd.read_csv('data/Cleaned_temp.csv', encoding='latin-1')
cleaned_csv['Tweet'] = cleanTwList

In [304]:
data_csv_cleaned.isnull().sum()

Tweet            46
HS                0
Abusive           0
HS_Individual     0
HS_Group          0
HS_Religion       0
HS_Race           0
HS_Physical       0
HS_Gender         0
HS_Other          0
HS_Weak           0
HS_Moderate       0
HS_Strong         0
dtype: int64

In [305]:
data_csv_cleaned=data_csv_cleaned.dropna()

In [306]:
data_csv_cleaned.isnull().sum()

Tweet            0
HS               0
Abusive          0
HS_Individual    0
HS_Group         0
HS_Religion      0
HS_Race          0
HS_Physical      0
HS_Gender        0
HS_Other         0
HS_Weak          0
HS_Moderate      0
HS_Strong        0
dtype: int64

In [308]:
data_csv_cleaned.duplicated().sum()

229

In [312]:
data_csv_cleaned = data_csv_cleaned.drop_duplicates()

In [314]:
data_csv_cleaned.shape

(12894, 13)