In [1]:
import pandas as pd 
from sqlite3 import connect
import re

conn = connect("postprocessed_tweet.db")
df = pd.read_sql('SELECT * FROM tweet_post',conn)

In [2]:
df_abusive = pd.read_csv("abusive.csv")
df_alay = pd.read_csv("new_kamusalay.csv", encoding='latin-1')
alay_list = df_alay['Alay'].to_list()
normal_list = df_alay['Normal'].to_list()
abusive = df_abusive['ABUSIVE'].to_list()
tweet = df["Tweet"]

In [3]:
tw_alay = df['Tweet']
tw_alay_lower = df['Tweet'].str.lower()
df_tw_alay_lower = pd.DataFrame(tw_alay_lower)

In [4]:
tw_alay_lower[1560]

'kurang berusaha kaya gimna coba gw ada yg ky gw ngorbanin wktu buat pergi lebih pagi pulang lebih malem sinting loe'

store = []
li_store = []
tester = ['gw','loe','kaya','ky']
for i in range(len(tester)):
    w_finder = re.findall(r'\b' + tester[i] + r'\b',tw_alay_lower[1560])
    temp = w_finder
    store.extend(temp)
    i += 1
li_store.append(len(store))

li_store

In [12]:
store = []
li_store = []

for i in range(len(tw_alay_lower)):
    for j in range(len(alay_list)):
        w_finder = re.findall(r'\b' + alay_list[j] + r'\b',tw_alay_lower[i])
        temp = w_finder
        store.extend(temp)
        j += 1
    li_store.append(len(store))
    store = []
    i += 1

df_tw_alay_lower['Alay Count'] = li_store
df_tw_alay_lower

                                                   Tweet  Alay Count
0      disaat semua cowok berusaha melacak perhatian ...           5
1      siapa yang telat ngasih tau elu edan sarap gue...           3
2      41 kadang aku berfikir kenapa aku tetap percay...           3
3      aku itu aku ku tau matamu sipit tapi diliat da...           1
4      kaum cebong kapir udah keliatan dongoknya dari...           5
...                                                  ...         ...
12892  jangan asal ngomong ndasmu congor lu yg sekate...           5
12893                             kasur mana enak kunyuk           0
12894                   hati hati bisu g lagi bosan huft           2
12895  bom yang real mudah terdeteksi bom yang terkub...           0
12896       mana situ ngasih itu cuma foto ya kutil onta           1

[12897 rows x 2 columns]

In [13]:
store = []
li_store = []

for i in range(len(tw_alay_lower)):
    for j in range(len(abusive)):
        w_finder = re.findall(r'\b' + abusive[j] + r'\b',tw_alay_lower[i])
        temp = w_finder
        store.extend(temp)
        j += 1
    li_store.append(len(store))
    store = []
    i += 1

df_tw_alay_lower['Abusive Count'] = li_store
df_tw_alay_lower

,Tweet,Alay Count,Abusive Count
0,disaat semua cowok berusaha melacak perhatian ...,5,1
1,siapa yang telat ngasih tau elu edan sarap gue...,3,2
2,41 kadang aku berfikir kenapa aku tetap percay...,3,0
3,aku itu aku ku tau matamu sipit tapi diliat da...,1,1
4,kaum cebong kapir udah keliatan dongoknya dari...,5,2
...,...,...,...
12892,jangan asal ngomong ndasmu congor lu yg sekate...,5,1
12893,kasur mana enak kunyuk,0,1
12894,hati hati bisu g lagi bosan huft,2,1
12895,bom yang real mudah terdeteksi bom yang terkub...,0,0
12896,mana situ ngasih itu cuma foto ya kutil onta,1,1

In [17]:
df_tw_alay_lower.to_csv('Tweet_counted.csv', index=False)